/* static/css/dashboard.css */

/* Animated gradient background */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 24px;
  min-height: 100vh;
  background: linear-gradient(-45deg, #3e5559, #1d1616, #464441, #244644);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Dark overlay for readability */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  
}

/* STATUS SECTION */
.status-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: flex;
  flex-wrap: wrap;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
}


.status-card {
  padding: 20px 35px;
  border-radius: 8px;
  background: rgba(255,255,255,0.08);
  text-align: left;
}

.status-value {
  font-size: 10px;
  font-weight: bold;
}

/* ===== STATUS COLORS ===== */

.status-healthy {
  background: rgba(46, 204, 113, 0.15);
  color: #2ecc71 !important;
}

.status-off {
  background: rgba(128, 128, 128, 0.2);
  color: #808080 !important;
}

.status-fault {
  background: rgba(231, 76, 60, 0.15);
  color: #e74c3c !important;
}

.status-label {
  font-size: 16px;
  opacity: 0.8;
  width: 70px;           /* THE KEY: Every label takes exactly 150px */
  flex-shrink: 0;         /* Prevents the label from squishing */
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, sans-serif;

}

/* EVENTS TABLE */
.events-section {
  margin-top: 40px;
  padding: 25px;
  border-radius: 12px;
  background: rgba(255,255,255,0.08);
}

.events-header,
.event-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.status-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.events-header {
  font-weight: bold;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.event-row {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* LABELS */
.label {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  
}

.label-healthy {
  background: #2ecc71;
  color: white;
}

.label-off {
  background: #8c8888;
  color: white;

/* The video starts fully visible */
#fault-video {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* When this class is added, it disappears */
.video-fade {
  opacity: 0 !important;
}

.header a:hover i {
  transform: translateX(-5px); /* Moves the arrow slightly to the left on hover */
  color: #79d7ed;              /* Changes to your brand cyan color */
  transition: all 0.3s ease;
}

}